/* Font family */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}
/* Variables */
/* Typography */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

summary {
  list-style: none;
  display: flex;
  align-items: center;
}

summary::after {
  content: "";
  display: inline-block;
  margin-left: auto;
  width: 18px;
  height: 10px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s ease;
}

details[open] summary::after {
  filter: brightness(0) saturate(100%) invert(47%) sepia(39%) saturate(3346%) hue-rotate(327deg) brightness(101%) contrast(96%);
  transform: rotate(180deg);
}

/* Styling */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

.btn-purple {
  font-family: "Rubik", sans-serif !important;
  color: white !important;
  background-color: #5267df !important;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2) !important;
  border: solid 2px #5267df !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-purple:hover {
  background-color: unset !important;
  color: #5267df !important;
}

.btn-grey {
  font-family: "Rubik", sans-serif !important;
  border: solid 2px #f7f7f7 !important;
  color: rgba(36, 42, 69, 0.75) !important;
  background-color: #f7f7f7 !important;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2) !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-grey:hover {
  background-color: unset !important;
  color: rgba(36, 42, 69, 0.75) !important;
  border: solid 2px rgba(36, 42, 69, 0.75) !important;
}

.btn-red {
  font-family: "Rubik", sans-serif !important;
  border: solid 2px #fa5959 !important;
  color: white !important;
  background-color: #fa5959 !important;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2) !important;
  border-radius: 5px !important;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-red:hover {
  background-color: white !important;
  color: #fa5959 !important;
  border: solid 2px #fa5959 !important;
}

/* Mobile */
@media (max-width: 47.9375rem) {
  header {
    display: flex;
    align-items: center;
    margin: 40px 32px 0 32px;
  }
  header .logo-heading {
    margin-right: auto;
  }
  header .menu {
    cursor: pointer;
  }
  header nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 32px 48px 40px;
    background-color: rgba(36, 42, 69, 0.95);
    transition: 0.3s ease;
  }
  header nav.isActive {
    left: 0;
  }
  header ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    margin-top: 40px;
    margin-bottom: 24px;
    text-align: center;
  }
  header button {
    font-size: 1.25rem;
    color: white;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 2.31px;
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: unset;
    border: solid 2px white;
    margin-bottom: auto;
    cursor: pointer;
    transition: 0.3s ease;
  }
  header button:hover {
    background-color: white;
    color: unset;
  }
  header li a {
    font-size: 1.25rem;
    color: white;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 2.31px;
    text-transform: uppercase;
  }
  header ul li:first-child,
  header ul li:last-child {
    padding: 24px 0 24px 0;
  }
  header ul li:nth-child(2) {
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    padding: 24px 0 24px 0;
  }
  header .social {
    display: flex;
    align-items: center;
    gap: 0 40px;
  }
  .nav-heading {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-heading .logo {
    margin-right: auto;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(36deg) brightness(100%) contrast(100%);
  }
  .nav-heading .close {
    cursor: pointer;
  }
  /* Main */
  #hero {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 140px;
  }
  #hero figure {
    position: relative;
    margin-top: 80px;
    margin-bottom: 48px;
    overflow: hidden;
  }
  #hero figure::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 71px;
    transform: translateY(-100%);
    width: 200%;
    height: 80%;
    border-radius: 316.5px;
    background-color: #5267df;
  }
  #hero img {
    width: 100%;
  }
  #hero article {
    text-align: center;
    margin: 0 32px 0 32px;
  }
  #hero article h1 {
    font-size: 1.875rem;
    color: #242a45;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.09px;
    margin-bottom: 16px;
  }
  #hero article p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    opacity: 50%;
    margin-bottom: 32px;
  }
  #hero article .buttons {
    width: 100%;
    height: 48px;
    display: flex;
    gap: 0 14px;
  }
  #hero article button {
    font-family: "Rubik", sans-serif;
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  #features {
    text-align: center;
    margin: 0 32px 77px 32px;
  }
  #features h2,
  #features h3 {
    font-size: 1.5rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: 0.08px;
  }
  #features p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    opacity: 50%;
  }
  #features h2 + p {
    margin-bottom: 40px;
  }
  #features article {
    margin: 0 32px 0 32px;
  }
  #features menu {
    margin-bottom: 72px;
  }
  #features li {
    position: relative;
    padding: 20px 0 20px 0;
    border-bottom: solid 1px rgba(73, 93, 207, 0.2);
  }
  #features menu li:first-child {
    border-top: solid 1px rgba(73, 93, 207, 0.2);
  }
  #features button {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #242a45;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.53px;
    border: none;
    background-color: unset;
    opacity: 75%;
    cursor: pointer;
    transition: 0.3s ease;
  }
  #features button:hover {
    opacity: 100%;
  }
  #features button::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 4px;
    transform: translate(-50%, -100%);
    background-color: #fa5959;
    transition: 0.3s ease;
  }
  #features button.isActive::after {
    width: 143px;
    opacity: 100%;
  }
  #features button.isActive {
    opacity: 100%;
  }
  #features figure {
    position: relative;
    padding-bottom: 37px;
    margin-bottom: 32px;
  }
  #features figure::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: calc(100% - 35px);
    transform: translate(-100%, -100%);
    width: 200%;
    height: 85%;
    border-radius: 316.5px;
    background-color: #5267df;
  }
  #features figure img {
    width: 100%;
  }
  #features h3 + p {
    margin-bottom: 15px;
  }
  #features article button {
    opacity: 100%;
    width: 114px;
    height: 48px;
  }
  #download {
    text-align: center;
    margin: 0 32px 0 32px;
  }
  #download h2 {
    font-size: 1.5rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.08px;
  }
  #download h3 {
    font-size: 1.25rem;
    color: #242a45;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.25px;
    margin-bottom: 6px;
  }
  #download p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    opacity: 50%;
    margin-bottom: 32px;
  }
  #download .download-item {
    padding: 49px 0 24px 0;
    box-shadow: 0 10px 20px -5px rgba(73, 93, 207, 0.2);
    border-radius: 15px;
    background-color: white;
    max-width: 280px;
  }
  #download .download-item img.browser-logo {
    margin-bottom: 32px;
  }
  #download .download-item img.separator {
    margin-bottom: 24px;
    width: 100%;
  }
  .download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    margin-bottom: 140px;
  }
  .download-container button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: calc(100% - 48px);
    height: 48px;
    margin: 0 24px 0 24px;
  }
  #faq {
    margin: 0 32px 123px 32px;
  }
  #faq h2 {
    font-size: 1.5rem;
    color: #242a45;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.08px;
    text-align: center;
    margin-bottom: 16px;
  }
  #faq h2 + p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    text-align: center;
    opacity: 50%;
    margin-bottom: 64px;
  }
  #faq p + details {
    border-top: solid 1px rgba(36, 42, 69, 0.1477);
  }
  #faq details {
    border-bottom: solid 1px rgba(36, 42, 69, 0.1477);
    padding: 20px 0 20px 0;
  }
  #faq details:nth-child(5) {
    margin-bottom: 48px;
  }
  #faq summary {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    cursor: pointer;
    transition: 0.3s ease;
  }
  #faq summary:hover {
    color: #fa5959;
  }
  #faq summary + p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.14px;
    text-align: left;
    margin-top: 26px;
    opacity: 75%;
  }
  #faq button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 114px;
    height: 48px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  /* Footer */
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    background-color: #242a45;
  }
  footer .social a:hover {
    filter: brightness(0) saturate(100%) invert(47%) sepia(39%) saturate(3346%) hue-rotate(327deg) brightness(101%) contrast(96%);
  }
  #newsletter {
    background-color: #5267df;
    padding: 60px 32px 38px 32px;
  }
  #newsletter span.joiner {
    font-size: 0.75rem;
    color: white;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 4.62px;
    display: block;
    text-align: center;
  }
  #newsletter h2 {
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.08px;
    text-align: center;
    margin-bottom: 32px;
  }
  #newsletter form {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }
  #newsletter .email-container {
    position: relative;
    width: 100%;
    padding: 2px;
  }
  #newsletter .email-container.error {
    background-color: #fa5959;
    border-radius: 5px;
    padding: 2px;
    padding-bottom: 6px;
  }
  #newsletter .email-container.error::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 14px;
    left: calc(100% - 36px);
    width: 20px;
    height: 20px;
    background: url("../images/icon-error.svg");
  }
  #newsletter .email-error {
    font-size: 0.625rem;
    color: white;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.25px;
    margin-left: 12px;
    margin-top: 4px;
    font-style: italic;
    display: none;
  }
  #newsletter input {
    font-family: "Rubik", sans-serif;
    font-size: 0.875rem;
    color: #242a45;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
  }
  #newsletter button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    height: 48px;
  }
  .footer-nav {
    text-align: center;
    padding: 40px 0 43px 0;
    background-color: #242a45;
  }
  .footer-nav nav {
    margin-bottom: auto;
  }
  .footer-nav .logo {
    margin-bottom: 39px;
  }
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    gap: 32px 0;
    margin-bottom: 48px;
  }
  .footer-nav ul a {
    font-size: 0.9375rem;
    color: white;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.73px;
    text-transform: uppercase;
  }
  .footer-nav ul a:hover {
    color: #fa5959;
  }
}
@media (min-width: 48rem) {
  body {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  #root {
    padding: 48px 32px 0 32px;
    max-width: 1440px;
  }
  header {
    display: flex;
    align-items: center;
    margin-bottom: 108px;
  }
  header .logo-heading {
    margin-right: auto;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  header nav ul {
    display: flex;
    align-items: center;
    gap: 0 44px;
    margin-right: 48px;
  }
  header ul a {
    font-size: 0.8125rem;
    color: #242a45;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  header ul a:hover {
    color: #fa5959;
  }
  header ul + button {
    font-size: 0.8125rem;
    color: white;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 1.5px;
    font-family: "Rubik", sans-serif;
    border: solid 2px #fa5959;
    background-color: #fa5959;
    box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2) !important;
    border-radius: 5px;
    width: 111px;
    height: 40px;
    margin-right: 74px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  header ul + button:hover {
    background-color: white !important;
    color: #fa5959 !important;
    border: solid 2px #fa5959 !important;
  }
  header .nav-heading,
  header .menu,
  header .social {
    display: none;
  }
  /* Main */
  #hero {
    display: flex;
    align-items: center;
    gap: 0 75px;
    margin-bottom: 80px;
  }
  #hero article {
    flex-basis: 50%;
  }
  #hero figure {
    flex-basis: 50%;
  }
  #hero figure img {
    width: 100%;
  }
  #hero article h1 {
    font-size: 3rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
    max-width: 650px;
  }
  #hero article p {
    font-size: 1.125rem;
    color: #242a45;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    opacity: 50%;
    margin-bottom: 32px;
  }
  #hero article .buttons {
    display: flex;
    gap: 0 16px;
    height: 48px;
  }
  #hero article button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    padding: 0 24px 0 24px;
  }
  #hero figure {
    position: relative;
  }
  #hero figure::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 71px;
    transform: translateY(-100%);
    width: 200%;
    height: 70%;
    border-radius: 316.5px;
    background-color: #5267df;
  }
  #features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 149px;
  }
  #features h2,
  #features h3 {
    font-size: 2rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }
  #features p {
    font-size: 1.125rem;
    color: #242a45;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    opacity: 50%;
    max-width: 550px;
  }
  #features h2 + p {
    margin-bottom: 72px;
  }
  #features h3 + p {
    margin-bottom: 32px;
  }
  #features menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
  }
  #features li button {
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    color: #242a45;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.53px;
    border: none;
    border-bottom: solid 1px rgba(73, 93, 207, 0.2);
    background-color: unset;
    position: relative;
    opacity: 75%;
    width: 243px;
    padding-bottom: 31px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  #features button:hover {
    opacity: 100%;
  }
  #features button::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 4px;
    transform: translate(-50%, -100%);
    background-color: #fa5959;
    transition: 0.3s ease;
  }
  #features button.isActive::after {
    width: 100%;
    opacity: 100%;
  }
  #features button.isActive {
    opacity: 100%;
  }
  #features .feature-list {
    display: flex;
    align-items: center;
    gap: 0 75px;
  }
  #features .feature-list figure {
    flex-basis: 50%;
  }
  #features .feature-list figure img {
    width: 100%;
  }
  #features .feature-list article {
    flex-basis: 50%;
    text-align: left;
    margin: auto;
  }
  #features figure {
    position: relative;
    padding-bottom: 89px;
    margin-bottom: 32px;
  }
  #features figure::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 100%;
    left: calc(100% - 35px);
    transform: translate(-100%, -100%);
    width: 200%;
    height: 80%;
    border-radius: 316.5px;
    background-color: #5267df;
  }
  #features article button {
    opacity: 100%;
    width: 114px;
    height: 48px;
  }
  #download {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 229px;
  }
  #download h2 {
    font-size: 2rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }
  #download h3 {
    font-size: 1.25rem;
    color: #242a45;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.25px;
    margin-bottom: 6px;
  }
  #download h2 + p {
    max-width: 450px;
  }
  #download p {
    font-size: 0.9375rem;
    color: #242a45;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0;
    opacity: 50%;
  }
  #download h3 + p {
    margin-bottom: 32px;
  }
  #download .download-item {
    padding: 49px 0 24px 0;
    box-shadow: 0 10px 20px -5px rgba(73, 93, 207, 0.2);
    border-radius: 15px;
    background-color: white;
    max-width: 280px;
  }
  #download .download-item img.browser-logo {
    margin-bottom: 32px;
  }
  #download .download-item img.separator {
    margin-bottom: 24px;
    width: 100%;
  }
  .download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 34px;
  }
  .download-container .download-item:nth-child(2) {
    transform: translateY(40px);
  }
  .download-container .download-item:nth-child(3) {
    transform: translateY(80px);
  }
  .download-container button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: calc(100% - 48px);
    height: 48px;
    margin: 0 24px 0 24px;
  }
  #faq {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 540px;
    margin-bottom: 149px;
  }
  #faq h2 {
    font-size: 2rem;
    color: #242a45;
    font-weight: 500;
    line-height: 52px;
    letter-spacing: -0.1px;
    margin-bottom: 16px;
  }
  #faq h2 + p {
    font-size: 1.125rem;
    color: #242a45;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    opacity: 50%;
    margin-bottom: 56px;
  }
  #faq p + details {
    border-top: solid 1px rgba(36, 42, 69, 0.1477);
  }
  #faq details {
    border-bottom: solid 1px rgba(36, 42, 69, 0.1477);
    padding: 20px 0 20px 0;
  }
  #faq details:nth-child(5) {
    margin-bottom: 54px;
  }
  #faq summary {
    font-size: 1.125rem;
    color: #242a45;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    cursor: pointer;
    transition: 0.3s ease;
  }
  #faq summary:hover {
    color: #fa5959;
  }
  #faq summary + p {
    font-size: 1rem;
    color: #242a45;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-align: left;
    margin-top: 32px;
    opacity: 75%;
  }
  #faq button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 114px;
    height: 48px;
  }
  /* Footer */
  footer {
    margin: 0 -32px 0 -32px;
  }
  footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
    position: relative;
    right: 10%;
    background-color: #242a45;
  }
  footer .social a:hover {
    filter: brightness(0) saturate(100%) invert(47%) sepia(39%) saturate(3346%) hue-rotate(327deg) brightness(101%) contrast(96%);
  }
  #newsletter {
    background-color: #5267df;
    padding: 58px 0 52px 0;
  }
  #newsletter span.joiner {
    font-size: 0.8125rem;
    color: white;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 5px;
    display: block;
    text-align: center;
  }
  #newsletter h2 {
    font-size: 2rem;
    color: white;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.1px;
    text-align: center;
    max-width: 442px;
    margin: 0 auto 36px auto;
  }
  #newsletter form {
    display: flex;
    gap: 0 16px;
    max-width: 442px;
    margin: 0 auto 0 auto;
  }
  #newsletter .email-container {
    position: relative;
    width: 100%;
    padding: 2px;
  }
  #newsletter .email-container.error {
    background-color: #fa5959;
    border-radius: 5px;
    padding: 2px;
    padding-bottom: 6px;
  }
  #newsletter .email-container.error::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 14px;
    left: calc(100% - 36px);
    width: 20px;
    height: 20px;
    background: url("../images/icon-error.svg");
  }
  #newsletter .email-error {
    font-size: 0.625rem;
    color: white;
    font-weight: 500;
    line-height: auto;
    letter-spacing: 0.25px;
    margin-left: 12px;
    margin-top: 4px;
    font-style: italic;
    display: none;
  }
  #newsletter input {
    font-family: "Rubik", sans-serif;
    font-size: 0.875rem;
    color: #242a45;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.25px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: none;
  }
  #newsletter button {
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.25px;
    height: 48px;
    min-width: 126px;
  }
  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0px 32px 0px;
    background-color: #242a45;
  }
  .footer-nav nav {
    position: relative;
    left: 10%;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .footer-nav .logo {
    margin-right: 64px;
  }
  .footer-nav ul {
    display: flex;
    align-items: center;
    position: relative;
    top: -1px;
    gap: 0 44px;
  }
  .footer-nav ul a {
    font-size: 0.9375rem;
    color: white;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 1.73px;
    text-transform: uppercase;
  }
  .footer-nav ul a:hover {
    color: #fa5959;
  }
}

/*# sourceMappingURL=index.css.map */
